.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Helvetica';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        
    color: grey;        
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.d-flex{
    background-color: white;
}
